<div class="jumbotron">
  <h1>Welcome</h1>
  <p>This is my stockfighter solution</p>
  <p>{{#link-to "new-order" class="btn btn-primary"}}New order{{/link-to}}</p>
  <p>{{#link-to "orders" class="btn btn-default"}}View orders{{/link-to}}</p>
</div>
